In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv('train.csv')

In [3]:
train

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
1,2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
2,3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
3,4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
4,5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29301,29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29302,29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29303,29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0
29304,29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0

In [4]:
train.columns

Index(['no', 'age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [5]:
test=pd.read_csv('test.csv')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              29305 non-null  int64
 1   age             29305 non-null  int64
 2   workclass       29305 non-null  object
 3   fnlwgt          29305 non-null  int64
 4   education       29305 non-null  object
 5   education-num   29305 non-null  int64
 6   marital-status  29305 non-null  object
 7   occupation      29305 non-null  object
 8   relationship    29305 non-null  object
 9   race            29305 non-null  object
 10  sex             29305 non-null  object
 11  capital-gain    29305 non-null  int64
 12  capital-loss    29305 non-null  int64
 13  hours-per-week  29305 non-null  int64
 14  native-country  29305 non-null  object
 15  income          29305 non-null  int64
dtypes: int64(8), object(8)
memory usage: 3.6+ MB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19537 entries, 0 to 19536
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              19537 non-null  int64
 1   age             19537 non-null  int64
 2   workclass       19537 non-null  object
 3   fnlwgt          19537 non-null  int64
 4   education       19537 non-null  object
 5   education-num   19537 non-null  int64
 6   marital-status  19537 non-null  object
 7   occupation      19537 non-null  object
 8   relationship    19537 non-null  object
 9   race            19537 non-null  object
 10  sex             19537 non-null  object
 11  capital-gain    19537 non-null  int64
 12  capital-loss    19537 non-null  int64
 13  hours-per-week  19537 non-null  int64
 14  native-country  19537 non-null  object
dtypes: int64(7), object(8)
memory usage: 2.2+ MB

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [10]:
knn_model=KNeighborsClassifier()
tree_model=DecisionTreeClassifier()

In [12]:
X_train=train.drop('income',axis=1)
y_train=train.income

In [14]:
train['workclass'].unique()

array([' Private', ' Self-emp-not-inc', ' Local-gov', ' ?', ' State-gov',
       ' Self-emp-inc', ' Federal-gov', ' Without-pay', ' Never-worked'],
      dtype=object)

In [16]:
train['workclass'].value_counts()

 Private             20410
 Self-emp-not-inc     2305
 Local-gov            1868
 ?                    1663
 State-gov            1201
 Self-emp-inc          987
 Federal-gov           854
 Without-pay            12
 Never-worked            5
Name: workclass, dtype: int64

### 데이터 분석과 모델링은 어떻게 해야할까 
- 타이타닉 데이터 분석한것을 토대로 절차를 메뉴얼 해보자

1. 데이터 수집
    - 데이터를 수집하는 단계 , 일단 데이터를 불러온다
2. 탐색적 데이터 분석
    - 데이터를 이해하는 단계
    - 결측치,이상치, 오류가 있는지 확인
        - info(), describe(), isnull()과 sum()함수 등을 이용
    - 기술 통계
    - 상관관계
    - 시각화
        - 탐색을 할때는 왠만하면 훈련용(train)데이터를 이용하여 분석을 진행한다.
        - test 데이터를 활용하지 않고 train데이터를 이용해서 시각화/ 탐색 하는게 좋다.
3. 특성공학
    - feature에서 유의미한 컬럼을 추출하거나 병합하는 행위 
    - 비정형데이터(텍스트 데이터 등)는 정형화 시켜주어야한다. 
    
4. 모델링
    - 인코딩 작업(범주형 데이터를 수치로 변환-> 문제형태의 데이터를 숫자형태로 변환)
        - label encoding
        - one-hot encoding
    - 특성 선택
    - 모델 선택하기+ 하이퍼 파라미터 튜닝
    - 모델 학습 및 평가 하기

In [18]:
train[trian]

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
19,20,18,?,220168,Some-college,10,Never-married,?,Own-child,White,Male,0,0,16,United-States,0
20,21,23,?,194096,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,0
24,25,19,?,50626,Some-college,10,Never-married,?,Own-child,Black,Female,0,0,20,United-States,0
37,38,24,?,152719,Some-college,10,Never-married,?,Own-child,Black,Female,0,0,15,Haiti,0
47,48,23,?,62507,Some-college,10,Never-married,?,Not-in-family,White,Female,0,0,12,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29244,29245,28,?,196630,Assoc-voc,11,Separated,?,Unmarried,White,Female,0,0,40,Mexico,0
29247,29248,50,?,23780,Masters,14,Married-spouse-absent,?,Other-relative,White,Male,0,0,40,United-States,0
29280,29281,22,?,110622,Bachelors,13,Never-married,?,Own-child,Asian-Pac-Islander,Female,0,0,15,Taiwan,0
29286,29287,21,?,143995,Some-college,10,Never-married,?,Own-child,Black,Male,0,0,20,United-States,0
29304,29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0